{{ define "main" }}
  <div class="pa3 pa4-ns w-100 w-70-ns center mid-gray">
    {{ with .Content }}
    <section class="cf ph3 ph5-l pv3 pv4-l f4 center lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{ . }}
    </section>
    {{ end }}
    <section class="w-100 mw8">
      {{ range $index, $element := .Paginator.Pages }}
        <div {{ if eq $index 0 }}id="first-post"{{ end }} class="w-100 mb4 relative">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
