:root {
  --accent: #0063ff;
  --header-color: #333;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 3s ease-in-out infinite;
}

.vh-80 {
  height: 80vh;
}

.hover-accent:hover {
  color: var(--accent) !important;
}

.header-color {
  color: var(--header-color);
}
