<header class="bg-white relative">
  <div class="{{ if .IsNode }}vh-80{{ else }}vh-25{{ end }} flex flex-column justify-center items-center">
    <div class="tc">
      <h1 class="f1 f-headline-l fw2 dark-gray mb0 lh-title avenir">
        <a href="https://x.com/_tristangodfrey" class="link dark-gray hover-silver">
          {{ .Site.Title }}
        </a>
      </h1>
      <p class="f2 fw4 gray avenir mt2 mb0">{{ .Site.Params.description }}</p>
    </div>
    {{ if .IsNode }}
      <div class="absolute bottom-1 bounce">
        <svg class="w2 h2 gray" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7-7-7m14-8l-7 7-7-7"></path>
        </svg>
      </div>
    {{ end }}
  </div>
</header>
