<header class="bg-white">
  <div class="vh-25 flex flex-column justify-center items-center">
    <div class="tc">
      <h1 class="f2 f-subheadline-l fw2 dark-gray mb0 lh-title avenir">
        <a href="{{ .Site.Home.RelPermalink }}" class="link dark-gray">
          {{ .Site.Title }}
        </a>
      </h1>
      <div class="mt3" style="min-height: 20px;">
        <a href="https://twitter.com/_tristangodfrey?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @_tristangodfrey</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</header>
