{{ define "header" }}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="pa3 pa4-ns w-100 w-70-ns center mid-gray">
    {{ $mainSections := site.Params.mainSections | compare.Default (collections.Slice "posts") }}
    {{ $section := collections.Where $.Site.RegularPages "Section" "in" $mainSections }}
    <section class="w-100 mw8">
      {{ range $section }}
        <div class="w-100 mb4 relative">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}

{{ define "footer" }}
  <footer class="pv4 ph3 ph5-l mid-gray">
    <div class="tc">
      <a class="f6 dib ph2 link mid-gray hover-black" href="{{ .Site.Home.Permalink }}">
        &copy; {{ .Site.Title }} {{ now.Format "2006" }}
      </a>
    </div>
  </footer>
{{ end }}
