@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s ease-in-out infinite;
}

.vh-80 {
  height: 80vh;
}
